<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Rubros</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewPage()">Nuevo Rubro</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of rubros">
            <td scope="row">{{item.id}}</td>
            <td>{{item.descripcion}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="edit(item)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="delete(item)">Borrar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
